* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0 .5rem;
    font-family: consolas, monospace;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

#mensagem {
    background: red;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    display: table;
    width: 100%;
    max-width: 350px;
}

form {
    display: table;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    background: steelblue;
    border-radius: .5rem;
    text-align: center;
    color: white;
    line-height: 2;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: .3rem;
    padding: .25rem .5rem;
}

button {
    background: rgb(52, 52, 52);
    color: white;
}